.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

#nav h2 {
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-left: 5px;
  align-self: center;
}
#logo {
  display: flex;
}

#logo img {
  max-height: 20px;
  align-self: center;
  padding-left: 10px;
  margin: 5px;
}
.SearchBar-sort-options {
  display: flex;
  margin-right: -10px;
}

.SearchBar-sort-options p {
  cursor: pointer;
  width: 4.33rem;
  padding: 0.33rem 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 0.83rem;
  transition: color 0.25s;
  border: 2px solid;
  transform: skew(-23deg);
  margin: 0;
}

.SearchBar-sort-options p:hover {
  color: #d47c03;
}

.SearchBar-sort-options p.active,
.SearchBar-sort-options p.active:hover {
  border-bottom: 1px solid #d47c03;
  color: #d47c03;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
  margin-top: 14rem;
}

.SearchBar-fields input {
  width: 21rem;
  padding: 0.66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 0.77rem;
  font-weight: 500;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  border-radius: 4px;
  padding: 0.72rem 1.7rem;
  background-color: #d47c03;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  align-self: center;
  transition: all 0.2s;
}

.SearchBar-submit:hover {
  cursor: pointer;
  background-color: #d47c03;
  letter-spacing: 1px;
  transition: all 0.2;
}
@media only screen and (max-width: 650px) {
  .SearchBar-sort-options p {
    padding: 0.25rem 1rem 0.25rem 1rem;
  }
  #nav h2 {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: 0.86rem;
  }
}

@media only screen and (max-width: 365px) {
  .SearchBar-sort-options p {
    padding: 0.25rem 0rem 0.25rem 0rem;
  }
  .SearchBar-fields input {
    width: 15rem;
  }
}
