/* Universal Styles */
* {
  /* outline: 1px solid red; */
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#businessDiv {
  display: flex;
  justify-content: center;
}

.searchGif {
  display: none;
}

.background {
  background-image: url("./background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  min-height: 59vh;
}
@media only screen and (max-width: 750px) {
  .background {
    background-position-x: center;
  }
}

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  transition: transform 0.2s;
}
.image-container:hover {
  transform: scale(1.2);
}

.image-container img {
  width: 100%;
  border-radius: 7px;
  max-height: 225px;
}

/* App Styles */

.App {
  font-family: "Work Sans", sans-serif;
}

h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #d47c03;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #532300;
  margin: 0;
  padding: 0.75em;
}
