/* Universal Styles */

html {
  font-size: 18px;
  background-image: url("./background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  overflow-x: hidden;
}

@media only screen and (max-width: 560px) {
  html {
    background-image: url("./background_search_mobile.jpg");
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
}

.image-container img {
  width: 100%;
  border-radius: 7px;
  max-height: 225px;
}

/* App Styles */

.App {
  font-family: "Work Sans", sans-serif;
}

h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #d47c03;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #532300;
  margin: 0;
  padding: 0.75em;
}
